p{
    cursor: pointer;
}

#logo{
	font-size: 30px;
	text-align: center;
}

div p{
    margin: 0px;
    padding: 2%;
}

#menus p:hover{
    background: #00000069;
} 

hr{
    border: 1px solid white;
}

a {
	text-decoration: none;
	display: block;
	color: white;
}

