/* Sidebar */
 app-side-nav{
	background-color: #433a7f;
    color: white;
} 
/* Sidebar */

/* Content */
#content {
    display: flex;
    justify-content: center;
	flex-flow: row;
	height: 100vh;
	padding: 0px;
	background: #e6e5e5;
}
/* Content */

