*{
	margin:0px;
	padding:0px;
}

.form-title {
	text-align: center;
	background: #433a7f;
	color: white;
	padding: 10px;
}

/* App-home */
app-home{
	width: 100%;
	display: flex;
	justify-content: center;
	align-self: center;
}
/* App-home */

/* app-help */
app-help {
	display: flex;
	justify-content: center;
	width: 100%;
}
/* app-help */